.cartFlex {
    display: flex;
}

.myCart {
    background-image: url("./cartLogo.png");
    height: 55px;
    width: 55px;
    background-size: cover;
    border: none;
    background-color: #232f3e;
    cursor: pointer;
    margin-top: .5rem;
}

.myCart:focus {
    outline: #232f3e;
}

.cartFlex p {
    background-color: #232f3e;
    margin: 0;
    font-size: 20px;
}

@media screen and (max-width: 650px) {
    .myCart {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 570px) {
    .myCart{
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .myCart {
        font-size: .9rem;
        padding-top: 2px;
    }
}

@media screen and (max-width: 415px) {
    .myCart {
        font-size: .6rem;
        padding-top: 6px;
        padding-bottom: 2px;
    }
}

@media screen and (max-width: 400px) {
    .myCart {
        font-size: .8rem;
        padding-top: 3px;
    }
}

@media screen and (max-width: 360px) {
    .myCart {
        font-size: .8rem;
        padding-top: 3px;
    }
}
