.container {
    margin: .8rem 10rem .8rem 10rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.productInfo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.productQuantity {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media screen and (min-width: 1000px) {
    .productInfo {
        margin: 1rem 0rem .6rem 0rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .productQuantity {
        margin: 1.3rem 0rem 0rem 1rem;
        font-size: .6rem;
    }
}

@media screen and (min-width: 1100px) {
    .productInfo {
        margin: 1rem 0rem .5rem 0rem;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .productQuantity {
        margin: 1.3rem 0rem 0rem 1rem;
        font-size: .8rem;
    }
}

@media screen and (min-width: 1200px) {
    .productInfo {
        margin: 1rem 0rem .5rem 0rem;
        font-size: 1.3rem;
        font-weight: 500;
    }
}

@media screen and (min-width: 1300px) {
    .productInfo {
        margin: 1rem 0rem .5rem 0rem;
        font-size: 1.4rem;
        font-weight: 500;
    }
    .productQuantity {
        margin: 1.4rem 0rem 0rem 1rem;
        font-size: .9rem;
    }
}

@media screen and (min-width: 1400px) {
    .productInfo {
        margin: 1rem 0rem .5rem 0rem;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

@media screen and (min-width: 1500px) {
    .productInfo {
        margin: 1rem 0rem .8rem 0rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .productQuantity {
        margin: 1.5rem 0rem 0rem 1rem;
    }
}

@media screen and (min-width: 1600px) {
    .productInfo {
        margin: 1rem 0rem .9rem 0rem;
        font-size: 1.7rem;
        font-weight: 500;
    }
    .productQuantity {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1700px) {
    .productInfo {
        margin: 1rem 0rem 1rem 0rem;
        font-size: 2rem;
        font-weight: 600;
    }
    .productQuantity {
        margin: 1.7rem 0rem 0rem 1rem;
        font-size: 1rem;
    }
}






