.searchBar {
    border: none;
    text-align: left;
    position: relative;
}

.searchBar:focus {
    outline: 2px solid #febd69;
}

.searchButton {
    border: none;
    position: absolute;
    background-size: cover;
    background-image: url("./searchLogo.png");
    background-color: #febd69;
}

.searchButton:active {
    outline: rgb(255, 136, 0);
    background-color: rgb(255,136,0);
}

.suggestions {
    position: absolute;
    list-style: none;
    border: 1px solid black;
    background-color: white;
}

.suggestions li {
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .1rem 0rem .1rem 0rem;
}

.suggestions li:hover {
    border: 1px solid black;
}

@media screen and (min-width: 1px) {
    .searchBar {
        padding: .1rem;
        width: 3rem;
        font-size: 5px;
    }
    .suggestions {
        width: 3rem;
    }
    .searchButton {
        margin-top: .5rem;
        width: .6rem;
        height: .6rem;
    }
}

@media screen and (min-width: 300px) {
    .searchBar {
        padding: .25rem;
        width: 6.5rem;
        font-size: 10px;
    }
    .suggestions {
        width: 6.5rem;
    }
    .searchButton {
        margin-top: .15rem;
        width: 1.15rem;
        height: 1.15rem;
    }
}

@media screen and (min-width: 400px) {
    .searchBar {
        padding: .3rem;
        width: 10rem;
        font-size: 11px;
    }
    .suggestions {
        width: 10rem;
    }
    .searchButton {
        margin-top: 0;
        width: 1.4rem;
        height: 1.4rem;
    }
}

@media screen and (min-width: 500px) {
    .searchBar {
        padding: .3rem;
        width: 13rem;
        font-size: 12px;
    }
    .suggestions {
        width: 13rem;
    }
    .searchButton {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (min-width: 600px) {
    .searchBar {
        padding: .4rem;
        width: 14rem;
        font-size: 14px;
    }
    .suggestions {
        width: 14rem;
    }
    .searchButton {
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media screen and (min-width: 800px) {
    .searchBar {
        padding: .4rem;
        width: 20rem;
        font-size: 16px;
    }
    .suggestions {
        width: 20rem;
    }
    .searchButton {
        width: 1.9rem;
        height: 1.9rem;
    }
}

@media screen and (min-width: 1000px) {
    .searchBar {
        padding: .4rem;
        width: 25rem;
        font-size: 18px;
    }
    .suggestions {
        width: 25rem;
    }
    .searchButton {
        width: 2.1rem;
        height: 2.1rem;
    }
}

@media screen and (min-width: 1250px) {
    .searchBar {
        padding: .6rem;
        width: 35rem;
        font-size: 20px;
    }
    .suggestions {
        width: 35rem;
    }
    .searchButton {
        width: 2.6rem;
        height: 2.6rem;
    }
}