.filterFlexColumn {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: absolute;
    width: 120px;
    height: auto;
    border: 1px solid black;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all .4s ease;
}

.filterFlexColumn:hover, .filterFlexColumn:focus {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background: white;
    border: 2px solid black;
}

input[type="checkbox"]:checked {
    background: black;
}

.categoryLabel {
    padding-left: .2rem;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 10px;
}