.productInfoContainer {
    margin: 2rem 10rem 2rem 10rem;
}

.goBack {
    margin: 3rem 0rem 0rem 3rem;
}

.goBackButtonLogo {
    background-image: url("./go-back-button.png");
    border: none;
    background-size: cover;
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
    background-color: white;
}

.goBackButton {
    padding-left: .2rem;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    background-color: white;
}

.goBackButtonLogo:focus {
    outline: white;
}

.goBackButton:focus {
    outline: white;
}

img {
    border: 1px solid gainsboro;
}

.productImage {
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.productImage:hover {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}

.productInfoFlex {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 5% 20% 5% 20%;
}

.productInformation {
    text-align: center;
    width: 45%;
}

.productInformation p {
    margin-top: 1.2rem;
}

.addCartButton{
    background-image: url("./addCartButton.png");
    height: 55px;
    width: 55px;
    background-size: cover;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: 15%;
}

.addCartButton:focus {
    outline: white;
}

.similarProducts {
    text-align: center;
}

.similarProducts img {
    margin: 1rem .5rem 1rem .5rem;
}



