.cartItemFlex {
    display: flex;
    flex-direction: column;
}

.goBackCheckoutButton {
    border: none;
    cursor: pointer;
    background-color: white;
}

.goBackCheckoutLogo {
    background-image: url("./go-back-button.png");
    border: none;
    background-size: cover;
    cursor: pointer;
    background-color: white;
}

.goBackCheckoutButton:focus {
    outline: white;
}

.goBackCheckoutLogo:focus {
    outline: white;
}

.yourCart {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.container .cartItemsFlex h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cartItem {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    grid-template-columns: 19% 19% 19% 19% 19% 5%;
    grid-template-rows: 60%;
    margin-top: 1%;
}

.cartItem p{
    margin-top: 12.5%;
}

.cartItem button {
    background-color: #febd69;
    border-radius: 5px;
    border: none;
}

.cartItem button:active {
    background-color:  rgb(255,136,0);
    outline: rgb(255,136,0);
}

.totals {
    display: flex;
    flex-direction: row-reverse;
}

.totalValues p {
    text-align: right;
}

.stripeButton {
    text-align: right;
}

@media screen and (min-width: 1000px) {
    .yourCart {
        font-size: 24px;
        padding-bottom: 3.5%;
    }

    .goBackCheckout {
        margin: 2rem 0rem 0rem 3.5rem;
    }
    
    .goBackCheckoutButton {
        padding-left: .2rem;
        font-size: 1.3rem;
    }
    
    .goBackCheckoutLogo {
        width: 1.1rem;
        height: 1.1rem;
    }

    .cartItem button {
        margin-top: 55%;
        margin-bottom: 70%;
        font-size: 8px;
    }

    .totals {
        margin-top: 3.5%;
    }

    .totals p {
        font-size: 18px;
    }
    
    .stripeButton {
        padding-top: 1%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 1100px) {
    .yourCart {
        font-size: 26px;
        padding-bottom: 3.5%;
    }

    .goBackCheckout {
        margin: 2.5rem 0rem 0rem 4rem;
    }
    
    .goBackCheckoutButton {
        padding-left: .2rem;
        font-size: 1.3rem;
    }
    
    .goBackCheckoutLogo {
        width: 1.1rem;
        height: 1.1rem;
    }

    .cartItem button {
        margin-top: 50%;
        margin-bottom: 50%;
        font-size: 8px;
    }

    .totals {
        margin-top: 3.5%;
    }

    .totals p {
        font-size: 18px;
    }
    
    .stripeButton {
        padding-top: 1%;
        margin-right: 4%;
    }
}

@media screen and (min-width: 1200px) {
    .yourCart {
        font-size: 26px;
        padding-bottom: 3.5%;
    }

    .goBackCheckout {
        margin: 2.5rem 0rem 0rem 5rem;
    }
    
    .goBackCheckoutButton {
        padding-left: .2rem;
        font-size: 1.3rem;
    }
    
    .goBackCheckoutLogo {
        width: 1.1rem;
        height: 1.1rem;
    }

    .cartItem button {
        margin-top: 35%;
        margin-bottom: 40%;
        font-size: 10px;
    }

    .totals {
        margin-top: 4%;
    }

    .totals p {
        font-size: 18px;
    }
    
    .stripeButton {
        padding-top: 1%;
        margin-right: 3%;
    }
}

@media screen and (min-width: 1300px) {
    .yourCart {
        font-size: 30px;
        padding-bottom: 2%;
    }

    .goBackCheckout {
        margin: 2.5rem 0rem 0rem 6rem;
    }
    
    .goBackCheckoutButton {
        padding-left: .2rem;
        font-size: 1.3rem;
    }
    
    .goBackCheckoutLogo {
        width: 1.1rem;
        height: 1.1rem;
    }

    .cartItem button {
        margin-top: 35%;
        margin-bottom: 20%;
        font-size: 11px;
    }

    .totals {
        margin-top: 4%;
    }

    .totals p {
        font-size: 18px;
    }
    
    .stripeButton {
        padding-top: 1%;
        margin-right: 3%;
    }
}

@media screen and (min-width: 1450px) {
    .yourCart {
        font-size: 32px;
    }

    .goBackCheckout {
        margin: 3rem 0rem 0rem 5.5rem;
    }
    
    .goBackCheckoutButton {
        padding-left: .2rem;
        font-size: 1.3rem;
    }
    
    .goBackCheckoutLogo {
        width: 1.1rem;
        height: 1.1rem;
    }

    .cartItem button {
        margin-top: 45%;
        margin-bottom: 3%;
        font-size: 13px;
    }

    .totals {
        margin-top: 4%;
        margin-right: 1%;
    }

    .totals p {
        font-size: 20px;
    }
    
    .stripeButton {
        padding-top: 1%;
        margin-right: 4%;
    }
}