.category {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
}

.category:hover, .category:focus {
    outline: 1px solid black;
}

.test button:focus + form, .test button:focus + button + form {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.dropDownLogo {
    margin: 0rem .1rem 0rem .1rem;
    background-image: url("./dropDownLogo.png");
    border: none;
    background-size: cover;
    width: 10px;
    height: 10px;
}

.dropDownLogo:focus, .dropDownLogo:hover {
    outline: 1px solid black;
}
