.filterCategory {    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
}

.dropDownLogo {
    margin: 0rem .1rem 0rem .1rem;
    background-image: url("./dropDownLogo.png");
    border: none;
    background-size: cover;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.filterCategory:focus {
    outline: white;
}

.dropDownLogo:focus {
    outline: white;
}
