.cartFlex {
    display: flex;
}

.myCart {
    background-image: url("./cartLogo.png");
    background-size: cover;
    border: none;
    background-color: #232f3e;
    cursor: pointer;
    margin-top: .5rem;
}

.myCart:focus {
    outline: #232f3e;
}

.cartFlex p {
    background-color: #232f3e;
    margin: 0;
}

@media screen and (min-width: 1px) {
    .myCart {
        height: .5rem;
        width: .5rem;
    }
    .cartFlex p {
        font-size: 5px;
    }
}

@media screen and (min-width: 300px) {
    .myCart {
        height: 1rem;
        width: 1rem;
    }
    .cartFlex p {
        font-size: 10px;
    }
}

@media screen and (min-width: 400px) {
    .myCart {
        height: 1.6rem;
        width: 1.6rem;
    }
    .cartFlex p {
        font-size: 12px;
    }
}

@media screen and (min-width: 500px) {
    .myCart {
        height: 2rem;
        width: 2rem;
    }
    .cartFlex p {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) {
    .myCart {
        height: 2.5rem;
        width: 2.5rem;
    }
    .cartFlex p {
        font-size: 16px;
    }
}

@media screen and (min-width: 800px) {
    .myCart {
        height: 2.5rem;
        width: 2.5rem;
    }
}

@media screen and (min-width: 1000px) {
    .myCart {
        height: 3rem;
        width: 3rem;
    }
    .cartFlex p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1300px) {
    .myCart {
        height: 3.5rem;
        width: 3.5rem;
    }
    .cartFlex p {
        font-size: 20px;
    }
}
