.filterFlex {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.filter button:focus + form, .filter button:focus + button + form {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

.filter:hover {
    outline: 2px solid black;
}

.filterFlexActiveFilters {
    display: flex;
}


@media screen and (min-width: 1000px) {
    .filterFlex {
        width: 85%;
    }
    .filterFlexActiveFilters {
        width: 100%;
    }
}

@media screen and (min-width: 1100px) {
    .filterFlex {
        width: 75%;
    }
    .filterFlexActiveFilters {
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .filterFlex {
        width: 65%;
    }
    .filterFlexActiveFilters {
        width: 85%;
    }
}

@media screen and (min-width: 1300px) {
    .filterFlex {
        width: 60%;
    }
}

@media screen and (min-width: 1400px) {
    .filterFlex {
        width: 55%;
    }
}

@media screen and (min-width: 1500px) {
    .filterFlex {
        width: 50%;
    }
}

@media screen and (min-width: 1600px) {
    .filterFlex {
        width: 45%;
    }
}


