nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #232f3e;
}

.logo {
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-size: cover;
    border: none;
    background-image: url('./logo.jpg');
    background-color: #232f3e;
}

.logo:focus {
    outline: #232f3e;
}
