nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    background-color: #232f3e;
}

.logo {
    padding-bottom: .3rem;
    width: 90px;
    height: 90px;
    background-size: cover;
    border: none;
    background-image: url('./logo.jpg');
    background-color: #232f3e;
    cursor: pointer;
}

.logo:focus {
    outline: #232f3e;
}

@media screen and (max-width: 650px) {
    .logo {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 570px) {
    .logo {
        width: 65px;
        height: 65px;
    }
}

