.container {
    margin: .6rem 10rem .6rem 10rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.productInfo {
    margin: .5rem 0rem 0rem 0rem;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.productQuantity {
    margin: 1.3rem 0rem 0rem 1rem;
    font-size: 1rem;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
