.searchBar {
    padding: .6rem;
    width: 35rem;
    border: none;
    text-align: left;
    font-size: 20px;
    position: relative;
}

.searchBar:focus {
    outline: 2px solid #febd69;
}

.searchButton {
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    position: absolute;
    background-size: cover;
    background-image: url("./searchLogo.png");
    background-color: #febd69;
}

.searchButton:active {
    outline: rgb(255, 136, 0);
    background-color: rgb(255,136,0);
}

.suggestions {
    position: absolute;
    list-style: none;
    border: 1px solid black;
    width: 35rem;
    background-color: white;
}

.suggestions li {
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .1rem 0rem .1rem 0rem;
}

.suggestions li:hover {
    border: 1px solid black;
}

@media screen and (max-width: 1200px) {
    .searchBar {
        width: 35rem;
    }
}

@media screen and (max-width: 1050px) {
    .searchBar {
        padding: .5rem;
        width: 30rem;
    }
    .searchButton {
        width: 2.45rem;
        height: 2.45rem;
    }
}

@media screen and (max-width: 900px) {
    .searchBar {
        padding: .4rem;
        width: 20rem;
    }
    .searchButton {
        width: 2.25rem;
        height: 2.25rem;
    }

}

@media screen and (max-width: 750px) {
    .searchBar {
        padding: .2rem;
        width: 15rem;
    }
    .searchButton {
        width: 1.85rem;
        height: 1.85rem;
    }
}


@media screen and (max-width: 650px) {
    .searchBar {
        padding: .15rem;
        width: 15rem;
    }
    .searchButton {
        width: 1.75rem;
        height: 1.75rem;
    }
}

@media screen and (max-width: 570px) {
    .searchButton {
        width: 1.7rem;
        height: 1.7rem;
    }
}

@media screen and (max-width: 500px) {
    .searchBar {
        padding: .13rem;
        width: 12rem;
    }
    .searchButton {
        width: 1.7rem;
        height: 1.7rem;
    }
}

@media screen and (max-width: 460px) {
    .searchBar {
        padding: .1rem;
        width: 10rem;
    }
    .searchButton {
        width: 1.65rem;
        height: 1.65rem;
    }
}

@media screen and (max-width: 420px) {
    .searchBar {
        padding: .05rem;
        width: 8rem;
        font-size: 15px;
    }
    .searchButton {
        width: 1.2rem;
        height: 1.2rem;
    }
}