.product {
    display: flex;
    flex-direction: column;
}

.product:hover {
    outline: 1px solid black;
}

.imageButton {
    border: none;
    cursor: pointer;
}

.imageButton:focus {
    outline:white;
}

p {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    margin: .4rem .5rem .4rem .5rem;
}

.priceQuantityInfo {
    display: flex;
    justify-content: space-between;
}

.addCartButton {
    margin: .4rem 0rem .4rem 0rem;
    padding: .5rem 0rem .5rem 0rem;
    border-radius: 2rem;
    background-color: #febd69;
    cursor: pointer;
}

.addCartButton:active {
    background-color: rgb(255,136,0);;
    outline: rgb(255,136,0);
}

.animation-products-enter {
    opacity: 0;
}

.animation-products-enter-active {
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
}
